<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MSSQL_NIXPEN" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=NixPen;Integrated Security=True"/>
    
    <add name="MariaDb" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=demo;Uid=root;Pwd=choo4939;"/>
    <add name="MariaDb_local" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=test;Uid=root;Pwd=choo4939;"/>
    <add name="MariaDbAWS" providerName="MySql.Data.MySqlClient" connectionString="User Id=markchoo;Pwd=!dudrnr4939;Database=pingpongtree;Host=pingpongtree2.cxacejblx23o.ap-northeast-2.rds.amazonaws.com;Character Set=utf8"/>
    <add name="MSSQL_Test" providerName="System.Data.SqlClient" connectionString="Data Source=165.243.176.50,6254;Initial Catalog=MEM_DB;Persist Security Info=True;User ID=ygchoo;Password=dudrnr4939"/>
    
  </connectionStrings>
  
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings>
    <add key="log4net.Config" value="log4net.xml"/>
    <add key="log4net.Config.Watch" value="True"/>
  </appSettings>
  
</configuration>
