<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MSSQL_NIXPEN" providerName="System.Data.SqlClient" connectionString="Data Source=(local);Initial Catalog=NixPen;Integrated Security=True"/>
    
    <add name="MariaDb" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=demo;Uid=root;Pwd=choo4939;"/>
    <add name="MariaDb_local" providerName="MySql.Data.MySqlClient" connectionString="Server=localhost;Database=test;Uid=root;Pwd=choo4939"/>
    
    <add name="MariaDbAWS" providerName="MySql.Data.MySqlClient" connectionString="User Id=markchoo;Pwd=!dudrnr4939;Database=pingpongtree;Host=pingpongtree2.cxacejblx23o.ap-northeast-2.rds.amazonaws.com;Character Set=utf8"/>
    <add name="MariaDbMDPark" providerName="MySql.Data.MySqlClient" connectionString="User Id=mdemrsys;Pwd=mdemrsys01@#;Database=mdemr;Host=210.93.172.105;Port=8429;Character Set=utf8"/>
    
    <add name="MSSQL_Test" providerName="System.Data.SqlClient" connectionString="Data Source=165.243.176.50,6254;Initial Catalog=MEM_DB;Persist Security Info=True;User ID=ygchoo;Password=dudrnr4939"/>
    


    <add name="syBaseAnywhere" providerName="iAnywhere.Data.SqlAnywhere"  connectionString="DSN=ysr2000 Conn" />

    <!--<add name="MSAccess" providerName ="Microsoft.Jet.OLEDB.4.0" connectionString="Data Source=d:\MDPark\05. 마음속내과 데이터\기초자료\청구.mdb"/>-->
    <!--Provider=Microsoft.Jet.OLEDB.4.0;Data Source="D:\MDPark\05. 마음속내과 데이터\계산자료\건보보고.MDB"-->
  </connectionStrings>
  
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings>
    <add key="log4net.Config" value="log4net.xml"/>
    <add key="log4net.Config.Watch" value="True"/>
    
    <!--병컴 AccessData file path -->

    <add key="byengcomRootPath" value="d:\MDPark\병컴\05. 마음속내과 데이터"/>
    <add key="MSAccessPathDefaultData" value="기초자료"/>
    <add key="MSAccessPathAdditionData" value="부가자료"/>
    <add key="MSAccessPathDiagnosisData" value="진료자료"/>
    <add key="MSAccessPathChartData" value="챠트자료"/>
    <add key="MSAccessPathClaimData" value="청구자료"/>

    <!--병컴 MDB 파일들의 경로설정 
      key : mdb 파일명
    -->
    <add key="일반서식" value="MSAccessPathAdditionData"/>
    
    <add key="과거력" value="MSAccessPathDiagnosisData"/>
    <add key="백신접종" value="MSAccessPathDiagnosisData"/>
    <add key="심전도검사" value="MSAccessPathDiagnosisData"/>
    <add key="일반검사" value="MSAccessPathDiagnosisData"/>
    <add key="진단서" value="MSAccessPathDiagnosisData"/>
    <add key="진료색인" value="MSAccessPathDiagnosisData"/>
    <add key="진료요약" value="MSAccessPathDiagnosisData"/>
    <add key="환자정보" value="MSAccessPathDiagnosisData"/>
    
  </appSettings>
  
</configuration>
